<!doctype html>
<html lang="en" xml:th="http://www.thymeleaf.org" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Ivent</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/event.css">
    <link href ="event.css" rel="stylesheet" type="text/css">
</head>
<body class="text-center h-100">
<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <form class="col-4" action="/user" method="post">
               <h3 class="mb-4 mt-2">Create an Event!</h3>
            <div class="form-group">
                <label for="organizer">Event Title</label>
                <input type="text" class="form-control" id="organizer" placeholder="Title" name="organizer" required>
            </div>
           
            <div action="upload.php" method="post" enctype="multipart/form-data">
             Select an Event Image:
           <input type="file" name="fileToUpload" id="fileToUpload">
           <input type="submit" value="Upload Image" name="submit">
           </div><br>

            <label>Event Type</label>
             <select id = "myList">
               <option value = "1">Attraction</option>
               <option value = "2">Camp or Trip</option>
               <option value = "3">Concert or performance</option>
               <option value = "4">Convention</option>
               <option value = "5">Dinner</option>
               <option value = "6">Festival or fair</option>
               <option value = "7">Gala</option>
               <option value = "8">Game</option>
               <option value = "9">Meeting</option>
               <option value = "10">Other</option>
               <option value = "11">Party</option>
               <option value = "12">Rally</option>
               <option value = "13">Screening</option>
               <option value = "14">Seminar or Talk</option>
               <option value = "15">Tour</option>
               <option value = "16">Tounament</option>
             </select>
            
            <div class="form-group">
                <label for="organizer">Organizer</label>
                <input type="text" class="form-control" id="organizer" placeholder="Who is organizing this event" name="organizer" required>
            </div>
            
            <div class="form-group">
                <label for="location">Location</label>
                <input type="text" class="form-control" id="location" placeholder="Location" name="location" required>
            </div>
           
            <div class="form-group">
                <label for="start date">Start Date</label>
                <input type="text" class="form-control" id="start date" placeholder="mm/dd/yyyy" name="start date" required>
            </div>
           
            <div class="form-group">
                <label for="start time">Start time</label>
                <input type="text" class="form-control" id="start time" placeholder="00:00AM/PM"required>
            </div>
            
            <div class="form-group">
                <label for="end date">End Date</label>
                <input type="text" class="form-control" id="end date" placeholder="mm/dd/yyy" name="end date"required>
            </div>
            
            <div class="form-group">
                <label for="end time">End Time</label>
                <input type="text" class="form-control" id="end time" placeholder="00:00AM/PM" name="end time"required>
            </div>
           
            <button type="submit" class="btn btn-dark mt-2 mb-2">Create Event</button>
            <div class="mb-2">
                <a th:href="@{index}">Home Page</a>
    </div>
        </form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
